

/* ==========================================================================
   Estilos por ALX
   ========================================================================== */
body {
  font-family: 'Open Sans';
}
/*Generales*/
a{
  text-decoration:none;
}
a:visited{
  text-decoration:none;
}
a:link{
 text-decoration:none;
}
/*Navbar*/
.navbar-brand img{
  max-width: 300px;
}
.navbar-brand {
    padding: 0px 15px;
}
.navbar-static-top, .navbar-fixed-top, .navbar-fixed-bottom {
    padding: 25px;
}.navbar {
    margin-bottom: 0px;
}
/*iconos*/
.icono{
  margin-top: 20px;
  margin-bottom: 15px;
}
.iconos i{
  font-size: 50px;
  height:90px;
  width:90px;
  border: 0.5px solid #d0d0d0;
  border-radius:45px;
  background: #eeedec;
  transition: 0.3s;
  line-height: 85px;
  color: #64AECC;
}
.iconos i:hover{
  transform: scale(1.2,1.2);
  background: #64AECC;
  color: #fff;
  border: 0px;
}
.iconos h2{
  font-size: 19px;
  font-weight: 600;
}
.iconos p{
  font-size: 15px
}
/*coding*/
.coding{
  width: 100%;
  height: 400px;
  background-image: url('../img/coding.gif');
  background-size:100% auto;
  background-repeat: no-repeat;
  text-align: center;

}
.coding .contenido{
  padding: 100px 0px;
}
.coding h1{
  letter-spacing: -1px;
  display: block;
  color: #fff;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 33px;
}
.coding p{
  color: #fff;
  font-family: 'Open Sans';
  font-size: 15px;
}
.botones{
  margin-top: 15px;
}
.b1{
  padding: 10px;
  border-radius: 25px;
  background-color: #E65E38;
  color: #fff;
}
.b1:hover{
  background-color: #df7254;
  color: #fff;
}
.iconos .container{
    margin-top: 40px;
    margin-bottom: 40px;
}


/*smartphone*/
@media (max-width: 767px) {
.navbar-brand img{
  max-width: 170px;
}
.navbar-brand {
    padding: 15px 15px;
}
.coding .contenido{
  padding: 45px 0px;
}
.coding h1{
  font-size: 25px;
}
.coding p{

  font-size: 15px;
}
.iconos .container{
    padding-right: 120px;
    padding-left: 120px;
}
}
/*tablet*/
@media (min-width: 768px) {
}

/*pc*/
@media (min-width: 992px) {
}
